body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: aqua;
}

.site-title {
    color: red;
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

ul {
    list-style-type: square;
}

ul li:nth-child(odd) {
    background: yellowgreen;
}

a {
    text-decoration: none;
    background: red;
    border: solid;
}

a:hover {
    background-color:yellow;
}